<div data-role="header">
	<h1>Tasks in Project</h1>
	<a href="#mypanel" data-icon="bars" data-iconpos="notext">Menu</a>
	<div data-role="navbar">
    <ul>
        <li><a href="<%= "/projects/#{@project.id}/tasks?status=planned" %>" class="ui-btn-active">Planned</a></li>
        <li><a href="<%= "/projects/#{@project.id}/tasks?status=started" %>">Started</a></li>
        <li><a href="<%= "/projects/#{@project.id}/tasks?status=done" %>">Done</a></li>
    </ul>
	</div><!-- /navbar -->
</div>

<div data-role="content">
	<ul data-role="listview">
		<% @tasks.each do |task| %>
	    <li>
	    	<a href="<%= "/projects/#{@project.id}/tasks/#{task.id}" %>">
	    		<%= task.title %>
	    	</a>
	  	</li>
	  <% end %>
	</ul>
</div>