<div data-role="header">
	<a href="/projects?status=started" data-icon="back">Projects</a>
	<h1>Project</h1>	
</div>



<div data-role="content">
	
	<h2><%= @project.title %></h2>
	
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <a href="<%= "/projects/#{@project.id}/tasks?status=planned" %>" data-role="button">Planned<span class="task-count"><%= @planned_count %></span></a>
    <a href="<%= "/projects/#{@project.id}/tasks?status=started" %>" data-role="button">Started<span class="task-count"><%= @started_count %></span></a>
    <a href="<%= "/projects/#{@project.id}/tasks?status=done" %>" data-role="button">Done<span class="task-count"><%= @done_count %></span></a>
	</div><!-- /navbar -->
		
	<br />
	<br />
	
	<%= form_tag mass_update_project_tasks_path(@project), :method => :put, :id => "mass-update-form" do %>
	<!-- 
		ajax set to false on form submission to fix problem with URL after redirect 
		http://stackoverflow.com/questions/9202233/rails3-jquery-mobile-and-remote-true-ajax-calls-processing-as-html
	-->
		<%= hidden_field_tag "status", "value", { :id => "task-status" } %>
		<ul data-role="listview">

			<% @tasks.each_with_index do |task, index| %>
		    <li>
		    	<%= check_box_tag "task_ids[]", task.id, false, :data => { "role" => "none" }, :class => "task-input" %>
    			<label for="checkbox-corey"><%= task.title %></label>
		    </li>	
	    <% end %>
    
		</ul>
	<br />
	<% end %>
	
</div>

<div data-role="footer" data-position="fixed" id="footer-controls-1" style="display:none;">
	<input type="button" value="Planned" data-mini="true" data-inline="true" data-icon="arrow-l" id="mark-task-planned">
	<input type="button" value="Started" data-mini="true" data-inline="true" data-icon="arrow-l" id="mark-task-started">
	<input type="button" value="Done" data-mini="true" data-inline="true" data-icon="arrow-r" id="mark-task-done">
	<input type="button" value="View" data-mini="true" data-inline="true" data-icon="arrow-r" id="view-task">
</div>

<div data-role="footer" data-position="fixed" id="footer-controls-2" style="display:none;">
	<input type="button" value="Planned" data-mini="true" data-inline="true" data-icon="arrow-l" id="mark-task-planned">
	<input type="button" value="Started" data-mini="true" data-inline="true" data-icon="arrow-l" id="mark-task-started">
	<input type="button" value="Done" data-mini="true" data-inline="true" data-icon="arrow-r" id="mark-task-done">
</div>