<div data-role="header">
	<h1>Task details</h1>
	<a href="#mypanel" data-icon="bars" data-iconpos="notext">Menu</a>
	<a href="#mytaskpanel" data-icon="gears" data-iconpos="notext">Edit</a>
</div>

<div data-role="content">
	<h2>Title:</h2>
	<p><%= @task.title %></p>
	
	<h2>Status:</h2>
	<p><%= @task.status %></p>
	
	<h2>Notes:</h2>
	<p>Someday...</p>
</div>

<div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="b" id="mytaskpanel">
		<h2>Update task:</h2>
		
		<%= form_for @task, :url => { :action => "update" } do |f| %>
					<label>Update task status:</label>
					<%= f.hidden_field :status, :value => "planned" %>
					<% if @task.status == "planned" %>
						<%= f.submit "Planned", :disabled => true %>
					<% else%>
						<%= f.submit "Planned " %>
					<% end %>
		<% end %>
		
		<%= form_for @task, :url => { :action => "update" } do |f| %>
					<%= f.hidden_field :status, :value => "started" %>
					<% if @task.status == "started" %>
						<%= f.submit "Started", :disabled => true %>
					<% else %>
						<%= f.submit "Started" %>
					<% end %>
		<% end %>
		
		<%= form_for @task, :url => { :action => "update" } do |f| %>
					<%= f.hidden_field :status, :value => "done" %>
					<% if @task.status == "done" %>
						<%= f.submit "Done", :disabled => true %>
					<% else %>
						<%= f.submit "Done" %>
					<% end %>
		<% end %>								
		

		<a href="#" data-rel="close" data-role="button" data-theme="c">Edit Details</a>
</div>