<div class="container-full">

	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Backlog</h3>
			  </div>
			  
				<ul class="list-group" style="height: 750px">
				<div id="backlog">
					<% @projects.each do |project| %>
						<% if project.status == "backlog" %>
						  <li class="list-group-item card project" id="proj-<%= project.id %>">
					  		<i class="fa fa-folder-o pull-right"></i>
					    	<h5 class="list-group-item-heading"><%= project.name %></h5>
					    	<p class="list-group-item-text"><%= project.description %></p>
					    	<small class="card-controls invisible">
					    		<i class="fa fa-plus-square-o"></i>&nbsp;
					    		<%= link_to "Tasks", project_tasks_url(project), :remote => true , :class => "show-tasks" %>
									<a href="#" class="hide-tasks hidden">Hide Tasks</a>
									&nbsp;&nbsp;&nbsp;
				    		</small>				    		
					    	<small class="card-controls invisible">
					    		<i class="fa fa-folder-open-o"></i>&nbsp;View&nbsp;&nbsp;&nbsp;
				    		</small>
					    	<small class="card-controls invisible">
					    		<i class="fa fa-chevron-down"></i>&nbsp;
					    		<%= link_to "Insert", new_project_path(:proj_id => project.id), :remote => true %>&nbsp;&nbsp;&nbsp;
				    		</small>
					    	<small class="card-controls invisible">
					    		<i class="fa fa-times"></i>&nbsp;
					    		<%= link_to 'Delete', project, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %>
				    		</small>
					    </li>
					  <% end %>
				  <% end %>
   
				</div>
				</ul>
			</div>			
		</div>
		<div class="col-md-17">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Not Started</h3>
					  </div>

						<div class="list-group">
							<% @projects.each do |project| %>
								<% if project.status == "planned" %>
								  <a href="#" class="list-group-item">
								    <h5 class="list-group-item-heading"><%= project.name %></h5>
								    <p class="list-group-item-text"><%= project.description %></p>
								  </a>
							  <% end %>
						  <% end %>
						</div>


					</div>		
				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Started</h3>
					  </div>
						<div class="list-group">
							<% @projects.each do |project| %>
								<% if project.status == "started" %>
								  <a href="#" class="list-group-item">
								    <h5 class="list-group-item-heading"><%= project.name %></h5>
								    <p class="list-group-item-text"><%= project.description %></p>
								  </a>
							  <% end %>
						  <% end %>
						</div>
					</div>		
				</div>		
				<div class="col-md-8">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Done</h3>
					  </div>
						<div class="list-group">
							<% @projects.each do |project| %>
								<% if project.status == "done" %>
								  <a href="#" class="list-group-item">
								    <h5 class="list-group-item-heading"><%= project.name %></h5>
								    <p class="list-group-item-text"><%= project.description %></p>
								  </a>
							  <% end %>
						  <% end %>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
</div>