<div class="container">
	<h4>
		<span style="text-decoration: underline">Projects</span>
		for
		<span style="text-decoration: underline">this week</span>
		in category
		<span style="text-decoration: underline">Kinnser</span>
	</h4>
</div>

<div class="container cq-white">
		<table class="table">
			<tr class="active">
				<th style="width:39%">Project</th>
				<th style="width:42%">Description</th>
				<th style="width:10%">Due</th>
				<th style="width:3%"></th>
				<th style="width:3%"></th>
				<th style="width:3%"></th>
			</tr>
			<% @projects.each do |project| %>
			<tr id="proj_id-<%= project.id %>">
				<td><%= link_to project.name, project_path(project) %>
				<td><%= project.description %></td>
				<td><%= project.due_date %></td>
				<td><a href="#">Edit</a></td>
				<td><%= link_to 'Del', project, method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %></a></td>
				<td><%= link_to "+", new_project_path(:proj_id => project.id), :remote => true %></td>
			</tr>			
			<% end %>						
		</table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      	      	



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	
  
