<div data-role="header">
	<a href="#mypanel" data-icon="bars">Menu</a>	
	<h1>Projects</h1>			
</div>

<div data-role="content">
	
	<div data-role="controlgroup" data-type="horizontal">
    <a href="<%= "/projects?status=planned" %>" data-role="button">Planned</a>
    <a href="<%= "/projects?status=started" %>" data-role="button">Started</a>
    <a href="<%= "/projects?status=done" %>" data-role="button">Done</a>
	</div><!-- /navbar -->
	
	<br />	
	
	<ul data-role="listview">
		<% @projects.each do |project| %>
	    <li><a href="<%= "/projects/#{project.id}/tasks?status=planned" %>" data-ajax="false"><%= project.title %></a></li>
	  <% end %>
	</ul>
</div>