<%= render "shared/navbar" %>

<div class="container-full">

	<div class="row">
		<div class="col-md-7" id="backlog">
			<div class="menu">
				<div class="dropdown" style="display:inline">
					<a href="#" data-toggle="dropdown" class="menu-link">Filter</a>
					<ul class="dropdown-menu dropdown-menu-form" role="menu">
					<%= form_tag plan_url, :method => 'get', :remote => true, :id => "filter-form" do %>
						<% @categories.each do |category| %>
							<li>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<%= check_box_tag "bcats[]", category.id %><%= category.name %>
										</label>
									</div>
								</div>
							</li>
						<% end %>
						<li><%= submit_tag "Apply", :class => "apply-filter" %>
					<% end %>
					</ul>
				</div>
				<div id="update-multiple-menu" class="invisible" style="display:inline">
					<button type="button" class="btn btn-primary btn-xs pull-right" style="margin-right: 10px">Del</button>
					<button type="button" class="btn btn-primary btn-xs pull-right" style="margin-right: 10px">Plan</button>
					<span class="pull-right">0 Selected &nbsp;</span>
				</div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading" id="backlog-panel-heading">
			    <h3 class="panel-title">Backlog</h3>
			  </div>
			  <%= render 'backlog_cards' %>
			</div>
		</div>
		<div class="col-md-17">
			<div class="row">
				<div class="col-md-24">
					<div class="menu">						
						<div class="dropdown pull-right" style="width: 500px">
							<a href="#" data-toggle="dropdown" class="pull-right menu-link">Collaborators</a>
							<ul class="dropdown-menu" role="menu" id="category-users">
								<% Category.find(@kcat).users.each do |user| %>
									<li class="drop-down-item"><%= user.email %></li>
								<% end %>
								<li class="drop-down-item">
									<%= form_tag('/assignments', :method => :post, :remote => true) do %>
										<%= hidden_field_tag :category_id, @kcat %>
										<%= text_field_tag :email, "Enter email address", :class => "form-control" %>
									<% end %>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
					  <div class="panel-heading" id="planned-panel-heading">
					    <h3 class="panel-title">Planned</h3>
					  </div>
					  <%= render 'planned_cards' %>
					</div>		
				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
					  <div class="panel-heading" id="started-panel-heading">
					    <h3 class="panel-title">Started</h3>
					  </div>
					  <%= render 'started_cards' %>
					</div>		
				</div>		
				<div class="col-md-8">
					<div class="panel panel-default">
					  <div class="panel-heading" id="done-panel-heading">
					    <h3 class="panel-title">Done</h3>
					  </div>
					  <%= render 'done_cards' %>
					</div>		
				</div>
			</div>
		</div>
	</div>
	
</div>
