<li class="list-group-item card item sortable <%= "has-steps" if item.tasks.size > 0 %>" id="<%= item.id %>">
	<span class="pull-right"><%= check_box_tag "item_ids[]", item.id, false, :class => "select-card-checkbox" %></span>
	<h5 class="list-group-item-heading"><%= link_to item.name, edit_item_path(item.id) %></h5>

	<div>
		<% if item.tasks.size > 0 %>
			<span class="badge"><%= item.tasks.size %></span>
		<% end %>
		<small>
			<%= link_to "Expand", item_tasks_url(item), :remote => true , :class => "show-tasks-link invisible" %>
			<a href="#" class="hide-tasks hidden">Collapse</a>
			&nbsp;&nbsp;&nbsp;
		</small>		

		<small class="pull-right">
			<%= link_to 'Del', item, method: :delete, :remote => true, data: { confirm: 'Are you sure?' },
				:class => "delete-item-link invisible" %>
			&nbsp;&nbsp;
		</small>

		<small class="pull-right">
			<%= link_to "Insert Items", new_item_path, :remote => true,
				:class => "insert-items-link invisible" %>
			&nbsp;&nbsp;
		</small>
	</div>
	<div class="add-items hidden">
		<button type="button" class="btn btn-primary btn-xs link-items">Add Items (As tasks)</button>
	</div>
</li>
