<%= render "shared/navbar" %>

<div class="container-narrow">
<%= nested_form_for(@item) do |f| %>
	<div class="row">
		<div class="col-md-24">
		
			<div id="project-name" class="project-section">
				<h3><%= f.text_field :name, :class => "form-control" %></h3>
				<p><%= f.text_field :description, :class => "form-control" %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-16">
		
			<div id="project-body">
				<div id="project-notes" class="project-section">
					<h5>Notes</h5>
					<p><%= f.text_area :notes, :class => "form-control", :rows => 10 %></p>
				</div>
				<div id="project-tasks" class="project-section">
					<h5>Tasks/Steps</h5>

					<table class="table" id="tasks">
						<thead>
							<tr>
								<th>Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<%= f.fields_for :steps, :wrapper => false do |step| %>
							<tr class="fields">
								<td><%= step.text_field :name, :class => "form-control input-sm" %></td>
								<td><%= step.link_to_remove "Del" %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
						
					<%= f.link_to_add "Add", :steps, :data => { :target => "#tasks" } %>
								
				</div>
			</div>
		
		</div>

		<div class="col-md-8">
			<div id="project-collaborators" class="project-section">
				<h5>Collaborators</h5>


				

			</div>
		</div>
	</div>
<%= f.submit %>
<% end %>
</div>